{{#if error}}
    <p>
        Error: {{error}}
    </p>
{{/if}}
<h1>Create new genre</h1>
<form class="" action="./create" method="post">
  <input type="hidden" name="_csrf" value="{{csrftoken}}">
  <input type="text" name="genre" placeholder="Enter genre name here">
  <button>Create genre</button>
</form>
