<!DOCTYPE html>
<html>
<head>
  <title>Genre App</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="theme">
  <header class="header">
    <img src="/images/Header.jpg" alt="header">
  </header>
  {{> flash }}
  {{> nav}}
  {{{ body }}}


</body>
</html>
