{{#if error}}
    <p>
        Error: {{error}}
    </p>
{{/if}}
<h1>Sure you want to remove {{id}}?</h1>
<form class="" action="../delete/{{id}}" method="post">
  <input type="hidden" name="_csrf" value="{{csrftoken}}">
  <input type="submit" name="band" value="OK">
</form>
